*{
    font-family: 'Inter', sans-serif;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:1rem;
}

.w-logo{
    width: 50%;
}

.menu-logo{
    width: 70%;
    display: flex;
}

.toggle-list{
    display: none;
    background-color: hsl(36, 100%, 99%);
    width: 250px;
    height: 100%;
    position:fixed;
    top: 0;
    right: 0;
    font-size: 15px;
    font-weight: 700;
}

.toggle-list img{
    display: flex;
    margin-left: auto;
    padding: 1rem;
}

.list-content{
    padding-left: 2rem;
    padding-top: 7rem;
}


.image-container{
    width: 100%;
}   

h1{
    font-weight: 800;
}

.btn{
    padding: .5rem 1.2rem;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: white;
    cursor: pointer;
    transition: all .4s ease-in-out;
    
}